<template name="views_receive">



      <div class="dapp-container accounts-page">

          <div class="accounts-page-summary">


                  <h1 align="center">
                      <span class="edit-name"></span> Primary Wallet <i class="edit-icon icon-pencil"></i>
                  </h1>

                  <h2 align="center" class="copyable-address">

                      <div class="pos-relative">
                        <input readonly id="address" value="{{address}}"/>
                        <span class="tick" style="color:green;font-size:25px;">&#x2714;</span>
                      </div>

                  </h2>

                  <div class="clear"></div>

                   <div align="center">
                      <span class="qr-code-block">  {{> QRCode text=address size="200px" }} </span>
                   </div>

                   <div align="center">
                     <button class="copy-to-clipboard-button theme-btn">
                         {{i18n "wallet.accounts.buttons.copyAddress"}}
                     </button>
                   </div>

                <div class="MT10" align="center"> {{> elements_balance balance=balance changeUnit=false showAllDecimals=true}} </div>

          </div>

    </div>

</template>
